In [33]:
# import
import numpy as np
import pandas as pd

df=pd.read_csv("C:/Users/NISA/Desktop/fodsfp/imports.csv")

df.shape
df.head()

,imports,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,Austria,1880.0,2058.0,2206.0,1836.0,1417.0,1231.0,1210.0,1294.0,1293.0,...,1309.0,1369.0,1452.0,1559.0,1555.0,NaN,NaN,NaN,NaN,NaN
1,Belgium,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5916.0,5924.0,5828.0,5668.0,5502.0,NaN,NaN,NaN,NaN,NaN
2,Belgium/Luxembourg,2015.0,1746.0,1828.0,2063.0,2262.0,2401.0,2526.0,2544.0,3580.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Bulgaria,268.0,200.0,182.0,397.0,463.0,515.0,272.0,294.0,342.0,...,523.0,528.0,482.0,560.0,609.0,NaN,NaN,NaN,NaN,NaN
4,Croatia,NaN,NaN,168.0,163.0,193.0,320.0,322.0,385.0,339.0,...,394.0,394.0,391.0,384.0,413.0,NaN,NaN,NaN,NaN,NaN

In [34]:
to_drop = ['1990','1991','1992','1993','1994','1995','1996','1997','1998','1999']
df.drop(to_drop, inplace=True, axis=1)

In [35]:
df.head()

,imports,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,Austria,1257.0,1432.0,1447.0,1336.0,1538.0,1577.0,1601.0,1968.0,1901.0,1309.0,1369.0,1452.0,1559.0,1555.0,NaN,NaN,NaN,NaN,NaN
1,Belgium,3491.0,3209.0,3792.0,3818.0,3968.0,4063.0,4605.0,4014.0,6792.0,5916.0,5924.0,5828.0,5668.0,5502.0,NaN,NaN,NaN,NaN,NaN
2,Belgium/Luxembourg,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Bulgaria,281.0,355.0,343.0,400.0,367.0,441.0,435.0,393.0,517.0,523.0,528.0,482.0,560.0,609.0,NaN,NaN,NaN,NaN,NaN
4,Croatia,344.0,352.0,371.0,393.0,388.0,392.0,404.0,414.0,405.0,394.0,394.0,391.0,384.0,413.0,NaN,NaN,NaN,NaN,NaN

In [36]:
df.isnull().sum()

imports     0
2000        1
2001        1
2002        1
2003        1
2004        1
2005        1
2006        1
2007        1
2008        1
2009        1
2010        1
2011        1
2012        1
2013        1
2014       29
2015       29
2016       29
2017       29
2018       29
dtype: int64

In [37]:
df['2000'].fillna("0", inplace = True)

In [38]:
df['2014'].fillna("0", inplace = True)

In [39]:
df['2015'].fillna("0", inplace = True)

In [40]:
df['2016'].fillna("0", inplace = True)

In [41]:
df['2017'].fillna("0", inplace = True)

In [42]:
df['2018'].fillna("0", inplace = True)

In [43]:
df.head()

,imports,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,Austria,1257.0,1432.0,1447.0,1336.0,1538.0,1577.0,1601.0,1968.0,1901.0,1309.0,1369.0,1452.0,1559.0,1555.0,0,0,0,0,0
1,Belgium,3491.0,3209.0,3792.0,3818.0,3968.0,4063.0,4605.0,4014.0,6792.0,5916.0,5924.0,5828.0,5668.0,5502.0,0,0,0,0,0
2,Belgium/Luxembourg,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0
3,Bulgaria,281.0,355.0,343.0,400.0,367.0,441.0,435.0,393.0,517.0,523.0,528.0,482.0,560.0,609.0,0,0,0,0,0
4,Croatia,344.0,352.0,371.0,393.0,388.0,392.0,404.0,414.0,405.0,394.0,394.0,391.0,384.0,413.0,0,0,0,0,0

In [44]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 147 entries, 0 to 146
Data columns (total 20 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   imports  147 non-null    object
 1   2000     147 non-null    object
 2   2001     146 non-null    float64
 3   2002     146 non-null    float64
 4   2003     146 non-null    float64
 5   2004     146 non-null    float64
 6   2005     146 non-null    float64
 7   2006     146 non-null    float64
 8   2007     146 non-null    float64
 9   2008     146 non-null    float64
 10  2009     146 non-null    float64
 11  2010     146 non-null    float64
 12  2011     146 non-null    float64
 13  2012     146 non-null    float64
 14  2013     146 non-null    float64
 15  2014     147 non-null    object
 16  2015     147 non-null    object
 17  2016     147 non-null    object
 18  2017     147 non-null    object
 19  2018     147 non-null    object
dtypes: float64(13), object(7)
memory usage: 23.1+ KB

In [45]:
df.describe()

,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
count,146.000000,146.000000,146.000000,146.000000,146.000000,146.000000,146.000000,146.000000,146.000000,146.000000,146.000000,146.000000,146.000000
mean,838.414800,868.309158,879.048296,932.458147,936.604506,978.513988,1022.087820,1057.165966,1039.020327,1103.146417,1135.094058,1168.136986,1208.397260
std,2477.985904,2542.990953,2603.777958,2726.472870,2698.779795,2842.217267,2941.773205,2992.966518,2933.331106,3081.794052,3223.025641,3284.314708,3350.653654
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,3.000000,4.000000,3.250000,3.233582,4.974473,4.783541,4.770202,6.250000,5.375268,6.000000,6.226145,6.250000,9.250000
50%,57.038498,50.000000,60.500000,68.431562,66.739962,77.695029,81.392092,98.781266,127.083329,137.846664,127.535477,140.000000,134.500000
75%,535.250000,472.000000,532.250000,551.750000,508.000000,590.103105,615.376351,606.500000,609.000000,656.500000,654.000000,757.000000,802.500000
max,21415.000000,21639.000000,22760.000000,23184.000000,23042.000000,23709.000000,24219.000000,24277.000000,23578.000000,24378.000000,26093.000000,26056.000000,27016.000000

In [46]:
df.corr()

,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
2001,1.000000,0.999081,0.998123,0.996687,0.996774,0.995427,0.993668,0.986943,0.989928,0.988159,0.989256,0.985093,0.986519
2002,0.999081,1.000000,0.998749,0.997984,0.997741,0.996855,0.995289,0.990666,0.992806,0.991138,0.991554,0.987800,0.989181
2003,0.998123,0.998749,1.000000,0.997746,0.997772,0.996838,0.995279,0.990502,0.991614,0.989201,0.989528,0.985413,0.986693
2004,0.996687,0.997984,0.997746,1.000000,0.999406,0.999021,0.997939,0.994107,0.995351,0.994082,0.994122,0.991421,0.992298
2005,0.996774,0.997741,0.997772,0.999406,1.000000,0.999014,0.997693,0.994490,0.995717,0.994409,0.994471,0.991372,0.992715
2006,0.995427,0.996855,0.996838,0.999021,0.999014,1.000000,0.998635,0.996101,0.996975,0.995715,0.994858,0.991919,0.992064
2007,0.993668,0.995289,0.995279,0.997939,0.997693,0.998635,1.000000,0.995726,0.996628,0.996295,0.995717,0.993966,0.993704
2008,0.986943,0.990666,0.990502,0.994107,0.994490,0.996101,0.995726,1.000000,0.998784,0.997857,0.996145,0.994223,0.993048
2009,0.989928,0.992806,0.991614,0.995351,0.995717,0.996975,0.996628,0.998784,1.000000,0.999286,0.998031,0.996407,0.995326
2010,0.988159,0.991138,0.989201,0.994082,0.994409,0.995715,0.996295,0.997857,0.999286,1.000000,0.999144,0.998230,0.997112
2011,0.989256,0.991554,0.989528,0.994122,0.994471,0.994858,0.995717,0.996145,0.998031,0.999144,1.000000,0.999135,0.998426
2012,0.985093,0.987800,0.985413,0.991421,0.991372,0.991919,0.993966,0.994223,0.996407,0.998230,0.999135,1.000000,0.998565
2013,0.986519,0.989181,0.986693,0.992298,0.992715,0.992064,0.993704,0.993048,0.995326,0.997112,0.998426,0.998565,1.000000

In [47]:
df['2000'] = df['2000'].astype(float)

In [48]:
df['2013'] = df['2013'].astype(float)

In [49]:
df['2014'] = df['2014'].astype(float)

In [50]:
df['2015'] = df['2015'].astype(float)

In [51]:
df['2016'] = df['2016'].astype(float)

In [52]:
df['2017'] = df['2017'].astype(float)

In [53]:
df['2018'] = df['2018'].astype(float)

In [54]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 147 entries, 0 to 146
Data columns (total 20 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   imports  147 non-null    object
 1   2000     147 non-null    float64
 2   2001     146 non-null    float64
 3   2002     146 non-null    float64
 4   2003     146 non-null    float64
 5   2004     146 non-null    float64
 6   2005     146 non-null    float64
 7   2006     146 non-null    float64
 8   2007     146 non-null    float64
 9   2008     146 non-null    float64
 10  2009     146 non-null    float64
 11  2010     146 non-null    float64
 12  2011     146 non-null    float64
 13  2012     146 non-null    float64
 14  2013     146 non-null    float64
 15  2014     147 non-null    float64
 16  2015     147 non-null    float64
 17  2016     147 non-null    float64
 18  2017     147 non-null    float64
 19  2018     147 non-null    float64
dtypes: float64(19), object(1)
memory usage: 23.1+ KB

In [79]:
df2 = df.drop(labels=2, axis=0)
df2

,imports,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,Austria,1257.000000,1432.000000,1447.000000,1336.000000,1538.000000,1577.000000,1601.000000,1968.000000,1901.000000,1309.000000,1369.000000,1452.000000,1559.0,1555.0,0.0,0.0,0.0,0.0,0.0
1,Belgium,3491.000000,3209.000000,3792.000000,3818.000000,3968.000000,4063.000000,4605.000000,4014.000000,6792.000000,5916.000000,5924.000000,5828.000000,5668.0,5502.0,0.0,0.0,0.0,0.0,0.0
3,Bulgaria,281.000000,355.000000,343.000000,400.000000,367.000000,441.000000,435.000000,393.000000,517.000000,523.000000,528.000000,482.000000,560.0,609.0,0.0,0.0,0.0,0.0,0.0
4,Croatia,344.000000,352.000000,371.000000,393.000000,388.000000,392.000000,404.000000,414.000000,405.000000,394.000000,394.000000,391.000000,384.0,413.0,0.0,0.0,0.0,0.0,0.0
5,Cyprus,69.000000,59.000000,57.000000,59.000000,59.000000,80.000000,74.000000,71.000000,78.000000,72.000000,77.000000,82.000000,84.0,94.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
142,South America,928.993983,984.459968,818.395980,946.328255,911.337605,929.246518,911.821877,1007.948519,963.179582,867.011198,1090.079133,976.484352,1099.0,1202.0,986.0,1056.0,946.0,1070.0,1061.0
143,Argentina,629.212993,640.720980,529.051986,631.927982,586.116415,596.008385,581.412421,649.067487,575.926907,562.318999,627.982837,592.006102,760.0,804.0,562.0,632.0,524.0,627.0,599.0
144,Chile,244.935994,275.844994,239.109996,256.710997,257.285053,266.521985,267.648839,285.996518,315.351666,232.219775,384.197943,305.491846,264.0,320.0,347.0,348.0,352.0,376.0,392.0
145,Suriname,12.132998,10.816999,8.908000,9.840136,17.312397,13.500153,14.328960,14.432159,17.047819,16.653748,16.205103,15.900255,15.0,19.0,18.0,16.0,15.0,10.0,14.0
146,Uruguay,42.711998,57.076996,41.325997,47.849140,50.623741,53.215995,48.431657,58.452355,54.853189,55.818677,61.693250,63.086148,60.0,60.0,59.0,60.0,55.0,56.0,57.0

In [81]:
df3 = df2.iloc[:34]
df3

,imports,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,Austria,1257.0,1432.0,1447.0,1336.0,1538.0,1577.0,1601.0,1968.0,1901.0,1309.0,1369.0,1452.0,1559.0,1555.0,0.0,0.0,0.0,0.000000,0.000000
1,Belgium,3491.0,3209.0,3792.0,3818.0,3968.0,4063.0,4605.0,4014.0,6792.0,5916.0,5924.0,5828.0,5668.0,5502.0,0.0,0.0,0.0,0.000000,0.000000
3,Bulgaria,281.0,355.0,343.0,400.0,367.0,441.0,435.0,393.0,517.0,523.0,528.0,482.0,560.0,609.0,0.0,0.0,0.0,0.000000,0.000000
4,Croatia,344.0,352.0,371.0,393.0,388.0,392.0,404.0,414.0,405.0,394.0,394.0,391.0,384.0,413.0,0.0,0.0,0.0,0.000000,0.000000
5,Cyprus,69.0,59.0,57.0,59.0,59.0,80.0,74.0,71.0,78.0,72.0,77.0,82.0,84.0,94.0,0.0,0.0,0.0,0.000000,0.000000
6,Czech Republic,809.0,899.0,888.0,974.0,929.0,1063.0,940.0,1037.0,1037.0,930.0,951.0,952.0,1127.0,1184.0,0.0,0.0,0.0,0.000000,0.000000
7,Denmark,1022.0,1103.0,1076.0,1002.0,1119.0,993.0,1004.0,995.0,900.0,860.0,1015.0,909.0,913.0,921.0,0.0,0.0,0.0,0.000000,0.000000
8,Estonia,105.0,161.0,120.0,134.0,176.0,221.0,254.0,277.0,334.0,357.0,263.0,167.0,157.0,156.0,0.0,0.0,0.0,0.000000,0.000000
9,Finland,1063.0,1084.0,1075.0,1105.0,1152.0,1156.0,1168.0,1207.0,1285.0,1243.0,1274.0,1287.0,1238.0,1275.0,0.0,0.0,0.0,0.000000,0.000000
10,France,6520.0,6753.0,6925.0,6652.0,5940.0,5714.0,6191.0,6420.0,6252.0,6670.0,6717.0,6992.0,6841.0,6713.0,0.0,0.0,0.0,0.000000,0.000000
11,Germany,13895.0,14753.0,15516.0,15727.0,17356.0,16716.0,18543.0,19564.0,19876.0,19416.0,20603.0,20926.0,21816.0,21174.0,0.0,0.0,0.0,0.000000,0.000000
12,Greece,798.0,868.0,897.0,998.0,942.0,931.0,897.0,1081.0,1056.0,1046.0,1061.0,1155.0,1244.0,1269.0,0.0,0.0,0.0,0.000000,0.000000
13,Hungary,790.0,833.0,828.0,864.0,977.0,852.0,901.0,894.0,811.0,704.0,727.0,640.0,748.0,557.0,0.0,0.0,0.0,0.000000,0.000000
14,Ireland,155.0,180.0,177.0,227.0,264.0,251.0,252.0,266.0,127.0,142.0,165.0,210.0,252.0,233.0,0.0,0.0,0.0,0.000000,0.000000
15,Italy,6315.0,6542.0,6523.0,6929.0,7032.0,7269.0,7548.0,8028.0,8172.0,8078.0,8236.0,8355.0,8691.0,8823.0,0.0,0.0,0.0,0.000000,0.000000
16,Latvia,181.0,156.0,164.0,186.0,188.0,191.0,221.0,151.0,154.0,132.0,138.0,141.0,157.0,161.0,0.0,0.0,0.0,0.000000,0.000000
17,Lithuania,213.0,267.0,263.0,221.0,256.0,284.0,317.0,336.0,390.0,411.0,376.0,289.0,337.0,362.0,0.0,0.0,0.0,0.000000,0.000000
18,Luxembourg,232.0,210.0,253.0,289.0,316.0,331.0,336.0,360.0,351.0,330.0,349.0,326.0,323.0,378.0,0.0,0.0,0.0,0.000000,0.000000
19,Malta,9.0,9.0,10.0,11.0,16.0,16.0,29.0,16.0,23.0,14.0,12.0,17.0,21.0,22.0,0.0,0.0,0.0,0.000000,0.000000
20,Netherlands,2966.0,2794.0,2760.0,3176.0,3159.0,2988.0,3293.0,3531.0,2304.0,2502.0,2583.0,2678.0,2730.0,3407.0,0.0,0.0,0.0,0.000000,0.000000
21,Poland,2576.0,2719.0,2643.0,2664.0,2687.0,2792.0,2654.0,2264.0,2460.0,3162.0,3279.0,3404.0,3543.0,3284.0,0.0,0.0,0.0,0.000000,0.000000
22,Portugal,811.0,843.0,838.0,834.0,838.0,831.0,862.0,911.0,885.0,887.0,1010.0,1058.0,1076.0,1063.0,0.0,0.0,0.0,0.000000,0.000000
23,Romania,552.0,633.0,738.0,755.0,828.0,874.0,854.0,840.0,826.0,811.0,839.0,844.0,903.0,971.0,0.0,0.0,0.0,0.000000,0.000000
24,Slovakia,286.0,317.0,300.0,303.0,298.0,308.0,347.0,508.0,611.0,458.0,655.0,777.0,772.0,798.0,0.0,0.0,0.0,0.000000,0.000000
25,Slovenia,187.0,194.0,201.0,177.0,196.0,191.0,187.0,205.0,205.0,210.0,218.0,223.0,221.0,258.0,0.0,0.0,0.0,0.000000,0.000000
26,Spain,3768.0,4058.0,4026.0,4136.0,4173.0,4356.0,4538.0,4875.0,4864.0,4811.0,5034.0,4821.0,5094.0,5137.0,0.0,0.0,0.0,0.000000,0.000000
27,Sweden,1344.0,1432.0,1463.0,1435.0,1495.0,1693.0,1820.0,1770.0,1804.0,1659.0,1727.0,1647.0,1680.0,1709.0,0.0,0.0,0.0,0.000000,0.000000
28,United Kingdom,3012.0,3062.0,2971.0,3002.0,3329.0,3433.0,4046.0,3781.0,3967.0,4131.0,4302.0,4183.0,4126.0,4206.0,0.0,0.0,0.0,0.000000,0.000000
29,Japan,6908.0,6996.0,7307.0,6923.0,7254.0,7408.0,7632.0,7086.0,7060.0,7090.0,7407.0,7544.0,7025.0,8381.0,7657.0,8063.0,8026.0,7647.000000,7539.981823
30,Norway,662.0,716.0,698.0,691.0,716.0,753.0,731.0,780.0,722.0,724.0,759.0,795.0,735.0,781.0,743.0,800.0,799.0,801.000000,743.340422
31,Russian Federation,1890.0,3057.0,3504.0,3772.0,3205.0,3336.0,3465.0,4318.0,4053.0,3553.0,4155.0,4218.0,4175.0,4410.0,4747.0,4710.0,5233.0,5468.000000,5287.541562
32,Switzerland,1171.0,1255.0,1217.0,1322.0,1236.0,1641.0,1503.0,1823.0,1978.0,2101.0,2318.0,2498.0,2478.0,2667.0,2643.0,2748.0,2816.0,2904.000000,3086.018913
33,Tunisia,192.0,233.0,236.0,123.0,264.0,190.0,209.0,253.0,318.0,289.0,304.0,429.0,439.0,439.0,460.0,459.0,466.0,546.000000,532.966563
34,USA,23767.0,21415.0,21639.0,22760.0,23184.0,23042.0,23709.0,24219.0,24277.0,23578.0,24378.0,26093.0,26056.0,27016.0,27565.0,27708.0,28838.0,29487.886464,28918.207055

In [82]:
n = 'importCleaned.csv'
df3.to_csv(n, index=False)
df3.info()
df3.to_excel('importCleaned.xlsx')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 34 entries, 0 to 34
Data columns (total 20 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   imports  34 non-null     object
 1   2000     34 non-null     float64
 2   2001     34 non-null     float64
 3   2002     34 non-null     float64
 4   2003     34 non-null     float64
 5   2004     34 non-null     float64
 6   2005     34 non-null     float64
 7   2006     34 non-null     float64
 8   2007     34 non-null     float64
 9   2008     34 non-null     float64
 10  2009     34 non-null     float64
 11  2010     34 non-null     float64
 12  2011     34 non-null     float64
 13  2012     34 non-null     float64
 14  2013     34 non-null     float64
 15  2014     34 non-null     float64
 16  2015     34 non-null     float64
 17  2016     34 non-null     float64
 18  2017     34 non-null     float64
 19  2018     34 non-null     float64
dtypes: float64(19), object(1)
memory usage: 5.6+ KB